{% extends 'base.html' %}

{% block title %} Home{% endblock title %}
{% block js %}
<script>
Let previews =  document.getElementsByClassName('preview');
Array.from(previews).forEach((element)=>{
  element.innerHTML = element.innerText
})
</script>
{% endblock js %}
{% block homeactive %} active {% endblock homeactive %}
{% block body %}


<div class="container my-5 ">

    <div class="jumbotron my-3 center">

      <style>
        body {
          margin: 0;
          font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
          font-size: small;
          font-weight: 400;
          line-height: 1.5;
          color: #073211;
          text-align: -webkit-center;
          background-color: #fff;
      }
      </style>
      <h1 class="display-4">Welcome to iCoder!</h1>
      <p class="lead">This is a simple blog website which is based on <strong> read </strong> or <strong> write</strong>  blog.</p>
      <hr class="my-4">
      <p><strong>It uses utility classes for typography and spacing to space content out within the larger container.</strong></p>
      <a class="btn btn-success btn-lg" href="/blog" role="button">Read Blog</a>
      <a class="btn btn-success btn-lg mx-5" href="/blog/add/" role="button">Create Blog</a>

      </div>
    </div>

   



{% endblock %}