<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
       .main{
        background-color: rgb(125, 101, 72);
        text-align: center;

       }
    </style>
</head>
<body>
    <div class="main">
    <h1>{{bdata}}</h1>
</div>

    {% for n in clist %}
    <div>{{forloop.last}}</div>
    {% endfor %}
    
    <br/>
    <table border="1" cellpadding = "10px">
        <tr>
            <th>Name</th>
            <th>Phome No</th>
        </tr>
        {% for i in student_detail %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.phone}}</td>
        </tr>
        {% endfor %}
    </table>

    {% if numbers|length > 0 %}
    {% for n in numbers%}
    {% if n > 20 %}
    <div>{{n}}</div>
    {% endif %}
    {% endfor%}
    {% else %}
        No Data Found
    {% endif %}    
    </body>
</html>