{% extends 'base.html' %}

{% block title %} BlogHome {% endblock title %}
{% block blogactive %} active {% endblock blogactive %} 
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div class="container my-5 ">
      <div class="jumbotron my-3 center"style="background-color:#b0acc9f7" >
    <style>
      body {
        margin: 0;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: small;
        font-weight: 400;
        line-height: 1.5;
        color: #073211;
        text-align: -webkit-center;
        background-color: #fff;
    }
    </style>
<h1>Creatr Your Blog Here</h1>
{% if user.is_authenticated %}
<form action="" method="post">
  {% csrf_token %}
  {{form.media}}
  {{form.as_p}}
  <button type="submit" class="btn btn-success">Submit</button>
  </form>
  {% else %}  
  <p style="color:red"><b>Plese login to Create Post </b></p>
  {% endif %}
</div>
</div>
</body>
</html>
{% endblock %}