{% extends 'base.html' %}

{% block title %} BlogHome {% endblock title %}
{% block blogactive %} active {% endblock blogactive %} 


{% block body %}
<style>
    h2{
        background-color:#b0acc956;
        
    }
</style>
<div class="container my-3 col-md-7">
    <h2>Coding Articles by iCoder</h2>
    {% for post in allPosts  %}
    <div class="jumbotron row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative"style="    background: linear-gradient(120deg,#e4a796 30%, #a8021b00 100%) " >
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Article  by {{post.author}} ({{post.views}} views)</strong>
            <h3 class="mb-0"><a class="text-dark" href="/blog/{{post.slug}}">{{post.title}}</a></h3>
            <div class="mb-1 text-muted">{{post.datetime}}</div>
            <p class="card-text mb-auto"><div class="preview">{{post.content|safe|truncatechars:500}}</div></p>
            <div class="my-2">
            	<a href="/blog/{{post.slug}}" role="button" class="btn btn-success">Continue reading</a>
            	<a href="/blog/add/" role="button" class="btn btn-success">adding</a>
            </div>
            
        </div>
        
        </div>

        {% endfor %}

 {% endblock %}